<section ng-controller="userEventsCtrl as userEvents">

  <p class="link" ng-click="userEvents.backButton(userEvents.user_id)"><-- Back to all goals...</p>

  <table>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Events</th>
    </tr>
    <tr ng-repeat="date in userEvents.yearMonth">
      <td>{{ date.year }}</td>
      <td>{{ date.month }}</td>
      <td>{{ date.numEvents }}</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Date</th>
      <th>Year</th>
      <th>Month</th>
      <th>Week</th>
      <th>Day</th>
      <th>Hour</th>
    </tr>
    <tr ng-repeat="event in userEvents.all">
      <td>{{ event.event_datetime | date:'MM/dd/yyyy' }}</td>
      <td>{{ event.event_datetime | date:'yyyy' }}</td>
      <td>{{ event.event_datetime | date:'MMMM' }}</td>
      <td>{{ event.event_datetime | date:'ww' }}</td>
      <td>{{ event.event_datetime | date:'EEEE' }}</td>
      <td>{{ event.event_datetime | date:'HH' }}</td>
    </tr>    
  </table>


  


  
</section>