body {
  background: #ccc;
  font-family: 'Nobile', sans-serif;
}

header {
  margin: 40px auto;
  color: goldenrod;
  border-bottom: 1px solid black;
}

p {
  font-size: 1.6em;
}

p.comment {
  font-size: 0.8em;
  font-style: italic;
  color: #aaa;
}

p.link {
  text-align: left;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 15px;
}

.wrapper {
  background: #FCFCEE;
  width: 375px;
  height: 600px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}



.home-container{

}

.reg-login {
  border:1px solid #888;
  border-radius: 4px;
  background: #F4F6F6;
  width: 80%;
  padding: 15px 0;
  margin: 30px auto;
}

.reg {
  color: #aaa;
}

#users {
  padding: 0;
  margin-top: 50px;
  list-style: none;
}

#users li {
  margin: 30px auto;
}

.goal-container {
  display: inline-block;
}

.goal-box {
  display: inline-block;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

.more {
  border: 2px solid darkgreen;
  background-color: palegreen;
}

.goals-cat {
  text-transform: capitalize;
  font-size: 0.8em;
}

.goals-thing {
  text-transform: uppercase;
}

.more .goals-cat {
  color: darkgreen;
}

.less {
  border: 2px solid MediumVioletRed;
  background-color: pink;
}

.less .goals-cat {
  color: MediumVioletRed;
}

.history {
  font-size: 0.8em;
}








