body {
  background: #ccc;
  font-family: 'Nobile', sans-serif;
}

header {
  margin: 40px auto;
}

.wrapper {
  background: #fff;
  width: 375px;
  height: 600px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid deeppink;
  border-radius: 20px;
  text-align: center;
}

.home-container{

}

.reg-login {
  border:1px solid #888;
  border-radius: 4px;
  background: #F4F6F6;
  width: 80%;
  padding: 15px 0;
  margin: 30px auto;
}

.reg {
  color: #aaa;
}

.goal-container {
  display: inline-block;
}

.goal-box {
  display: inline-block;
  border-radius: 3px;
  padding: 15px;
  margin: 10px 10px 0;
}

.more {
  border: 2px solid green;
  background-color: #9df1ab;
}

.less {
  border: 2px solid deeppink;
  background-color: hotpink;
}